<!DOCTYPE html>
<html>
  <head>
    <title>Top | Task App</title>
    <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="d9V1mJA7UiG3JeuaAUO9gcqNjK6FejxWrTb/BBTQjVF99MuBtdzHdBn/XkYxrDbnlMDcT41yQJxNBPajKgi8IQ==" />
    <link rel="stylesheet" media="all" href="/assets/application-0e5d7c8cc18bd52eeabc1c5477d3b494997c763fe01630943b441776e7ad493d.css" data-turbolinks-track="reload" />
    <script src="/assets/application-b448791b18a9452cee489df10d734ac2ccdefa3cdd5db733d63988d121bd2408.js" data-turbolinks-track="reload"></script>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "トップ", root_path, class: "heder-list" %></li>
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "利用者一覧", users_path, class: "heder-list" %></li>
            <% end %>
           <li><%= link_to "タスク作成", new_user_task_path(current_user), class: "heder-list" %></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown" id="dropdown-title">
               <%= current_user.name %> <b class="caret"></b>
             </a>
               <ul class="dropdown-menu">
                <li class="dropdown-header">ユーザー</li>
                <li><%= link_to "プロフィール", current_user, class: "heder-last" %></li> <!--user_path(current_user)-->
                <li><%= link_to "設定", edit_user_path(current_user), class: "heder-last" %></li> <!-- @userで指定すると、トップページなどのインスタンス変数を定義していないページでエラーとなります -->
                <li class="dropdown-header">タスク</li>
                <li><%= link_to "タスク一覧", user_tasks_path(current_user), class: "heder-last" %></li>
              
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete, class: "heder-last"%></li>
               </ul>
            </li>
          <% else %>
            <li><%= link_to "ログイン", login_path, class: "header-list" %></li>
          <% end %>
      </ul>
    </nav>
   </div>
  </header>
  </body>
</html>
